flexColumn, main, .mainContent, footer, .mainContent article {
  display: flex;
  flex-direction: column; }

header nav {
  display: flex; }

header ul {
  list-style-type: none; }

footer ul {
  list-style-type: none;
  padding-left: 0px; }
  footer ul li a {
    width: 20%;
    width: 20px;
    display: inline-block;
    padding: 5px;
    margin: 40px; }
  footer ul li img {
    transition: box-shadow .3s; }
  footer ul li img:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.8); }

footer a {
  margin: 10px; }

footer p {
  text-align: center;
  padding-bottom: 20px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
  color: #85586F; }

footer input {
  line-height: 40px;
  font-size: 14px;
  padding: 0 20px; }

footer button {
  line-height: 40px;
  font-size: 14px;
  padding: 0 20px;
  font-weight: bold;
  background-color: #85586F;
  color: white;
  font-family: "Nanum Myeongjo", serif; }

footer button:hover {
  box-shadow: 5px 5px #d3d2d2;
  cursor: pointer; }

.tratamientosPage p.ttosubtitle {
  display: inline;
  line-height: 1.5;
  font-family: "Nanum Myeongjo", serif;
  color: #AC7D88;
  font-weight: bold;
  width: 500px;
  margin-bottom: 40px;
  font-size: 50px;
  text-align: left; }

.tratamientosPage p.ttodescription {
  line-height: 1.5;
  font-family: "Nanum Myeongjo", serif;
  color: #AC7D88;
  width: 500px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
  text-align: left; }

.tratamientosPage article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 500px;
  text-align: left; }

.tratamientosPage img {
  width: 80%;
  margin-left: 20px; }

.productosPage img {
  margin: 40px; }

.productosPage img:hover {
  cursor: pointer;
  opacity: 0.8;
  width: 225px;
  height: 225px; }

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Estilos globales*/
header {
  position: sticky;
  top: 0;
  background-color: #F8ECD1; }

.container-fluid {
  display: flex;
  background-color: #85586F;
  padding: 20px; }

.navbar-expand-lg .navbar-collapse {
  justify-content: center; }

li.nav-item {
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
  font-size: 20px;
  margin-left: 30px; }

a.nav-link {
  color: #F8ECD1; }

h1 {
  color: #85586F;
  font-family: "Square Peg", cursive;
  font-size: 140px;
  font-weight: bold;
  padding: 55px;
  text-align: center; }

h2 {
  color: #85586F;
  font-family: "Square Peg", cursive;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  margin: 40px; }

h3 {
  color: #85586F;
  font-family: "Nanum Myeongjo", serif;
  font-size: 60px;
  font-weight: normal;
  color: #85586F;
  padding: 10px; }

img {
  color: #85586F;
  font-weight: bold; }

body {
  background-color: #F8ECD1; }

.mainImage {
  background-image: url("../images/imgprincipal.jpg");
  opacity: 0.7;
  width: auto;
  background-size: cover;
  background-position: center; }

.mainContent {
  padding: 40px; }

footer {
  height: 200px;
  align-items: center; }

.footerSocialLinks li {
  display: inline-block;
  margin: 0 40px; }

/*Fin Estilos globales*/
/*Estilo de Index*/
.mainContent article {
  justify-content: center;
  margin: auto;
  color: #AC7D88;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
  text-align: center;
  width: 50%; }

.mainContent article p {
  padding: 10px; }

.newsLetterForm {
  padding: 30px;
  text-align: center; }

.newsL {
  color: #85586F;
  font-weight: bold;
  font-family: "Nanum Myeongjo", serif; }

/* Estilo de Pagina Nosotros*/
.nosotrosPage p {
  padding: 0 400px 0 400px;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Nanum Myeongjo", serif;
  color: #AC7D88;
  font-weight: bold;
  margin-bottom: 50px; }

#nosotrosImg {
  width: 30%;
  margin: auto; }

/* Estilo de Pagina Tratamientos en _nesting.scss*/
/* Estilo de Pagina Productos*/
.productosImg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  justify-items: center; }

/* Estilo de Pagina Contacto*/
.container {
  font-family: 'Nanum Myeongjo', seri;
  font-weight: bold;
  color: #85586F; }

form.row.g-3 {
  justify-content: center; }

.col-12 {
  margin-bottom: 20px; }

.btn-primary {
  background-color: #85586F;
  border: #85586F;
  justify-content: center; }

aside {
  margin-top: 40px; }

.btn:hover {
  background-color: #85586F;
  box-shadow: 5px 5px #d3d2d2; }

.mapouter {
  position: relative;
  text-align: center;
  height: 300px;
  margin: auto;
  width: 600px; }

/*Media Queries*/
@media (min-width: 769px) and (max-width: 1200px) {
  h3 {
    font-size: 45px; }
  .nosotrosPage p {
    padding: 0 200px 0 200px; }
  .tratamientosPage p.ttosubtitle p.ttodescription {
    width: auto; }
  .tratamientosPage p.ttosubtitle {
    font-size: 40px; } }

@media (min-width: 481px) and (max-width: 768px) {
  body {
    max-width: fit-content; }
  header {
    position: inherit; }
  .navbar-expand-lg {
    width: 110%; }
  #menuLinks ul {
    flex-direction: column; }
  #menuLinks ul li {
    line-height: 1.5; }
  .socialLinks {
    display: none; }
  .mainImage {
    width: 110%; }
  h1 {
    font-size: 80px; }
  .nosotrosPage p {
    padding: 0 100px 0 100px; }
  .tratamientosPage img {
    margin-left: 40px; }
  .tratamientosPage article {
    height: auto;
    margin-bottom: 50px; }
  .tratamientosPage article div {
    display: grid; }
  .tratamientosPage p.ttosubtitle {
    font-size: 28px;
    margin-right: 20px;
    margin-bottom: 0px;
    width: 380px; }
  .tratamientosPage p.ttodescription {
    font-size: 16px;
    width: 380px; }
  .newsLetterForm form {
    display: flex;
    flex-direction: column;
    margin: auto; }
  .newsLetterForm form input {
    margin-bottom: 5px; }
  .mainContent article {
    width: 80%; } }

@media (min-width: 320px) and (max-width: 480px) {
  .navbar-expand-lg {
    width: 110%; }
  .mainImage {
    width: 110%; }
  h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 20px; }
  h3 {
    font-size: 20px; }
  .mainContent article p {
    font-size: 16px; }
  .tratamientosPage p.ttosubtitle {
    font-size: 20px;
    margin-top: 0px; }
  .tratamientosPage img {
    height: 40vh;
    width: 200px;
    margin-left: 138px; }
  .ttodescription {
    display: none; }
  .tratamientosPage article {
    grid-template-columns: 1fr;
    height: 220px; }
  .tratamientosPage article div {
    display: flex;
    justify-content: center; }
  .tratamientosPage p.ttosubtitle {
    width: auto; }
  .nosotrosPage p {
    padding: 0 10px 0 10px;
    font-size: 10px; }
  .productosImg {
    grid-template-columns: 1fr; }
  .newsLetterForm form {
    display: flex;
    flex-direction: column;
    margin: auto; }
  #contactForm input {
    width: 250px; }
  #contactForm textarea {
    width: 250px; }
  #contactForm button {
    width: 250px; }
  .mapouter {
    margin-left: -54px; }
  .footerSocialLinks ul {
    padding: 0px; }
  .footerSocialLinks li a {
    margin: 0 20px; }
  footer button {
    font-size: 19px;
    font-weight: lighter; }
  footer div p {
    font-size: 12px; } }
