@import "utilities/mixin";
@import "utilities/extend";
@import "utilities/nesting";

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Estilos globales*/
header{
    position: sticky;
    top: 0;
    background-color: $secondarycolor
}

.container-fluid{
    display: flex;
    background-color: $principalcolor;
    padding: 20px;  
}
.navbar-expand-lg .navbar-collapse{
    justify-content: $positioncenter;
}
li.nav-item{
    font-family: $principalfont;
    font-weight: bold;
    font-size: 20px;  
    margin-left: 30px;
}
a.nav-link{
    color:#F8ECD1
}
h1{
    @include titles($principalcolor, $secondaryfont, 140px, bold);
    padding: 55px;
    text-align: $positioncenter;
}
h2{
    @include titles($principalcolor, $secondaryfont, 80px, bold);
    text-align: $positioncenter;
    margin: 40px;
}
h3{
    @include titles($principalcolor, $principalfont, 60px);
    color: $principalcolor;
    padding: 10px;
}
img {
    color: $principalcolor;   
    font-weight: bold;
}
body{
    background-color: $secondarycolor;
}
main {
    @extend flexColumn;
}
.mainImage{
    background-image: url('../images/imgprincipal.jpg');
    opacity: 0.7;
    width: auto;
    background-size: cover;
    background-position: $positioncenter;
}
.mainContent{
    padding: 40px;
    @extend flexColumn;
}
footer{
    height: 200px;
    @extend flexColumn;
    align-items: $positioncenter
}
.footerSocialLinks li{
    display: inline-block;
    margin: 0 40px;
}
/*Fin Estilos globales*/

/*Estilo de Index*/
.mainContent article{
    @extend flexColumn;
    justify-content: $positioncenter;
    margin: auto;
    color: $thirdcolor; 
    font-family: $principalfont;
    font-weight: bold;
    text-align: $positioncenter;
    width: 50%;
}
.mainContent article p{
    padding:10px;
}
.newsLetterForm{
    padding: 30px;
    text-align: $positioncenter;
}
.newsL{
    color: $principalcolor; 
    font-weight: bold;
    font-family: $principalfont;
}
/* Estilo de Pagina Nosotros*/
.nosotrosPage p{
    padding: 0 400px 0 400px;
    text-align: $positioncenter;
    line-height: 1.5;
    font-size: 16px;
    font-family: $principalfont;
    color: $thirdcolor;
    font-weight: bold;
    margin-bottom: 50px;
}
#nosotrosImg{
    width: 30%;
    margin:auto;
}
/* Estilo de Pagina Tratamientos en _nesting.scss*/

/* Estilo de Pagina Productos*/
.productosImg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    justify-items: $positioncenter;
}

/* Estilo de Pagina Contacto*/
.container{
    font-family: 'Nanum Myeongjo', seri;
    font-weight: bold;
    color:$principalcolor
}
form.row.g-3{
    justify-content: $positioncenter;
}
.col-12 {
    margin-bottom: 20px;
}
.btn-primary {
    background-color: $principalcolor;
    border: $principalcolor;
    justify-content: $positioncenter;
}
aside{
    margin-top: 40px;
}
.btn:hover {
    background-color: $principalcolor;
    box-shadow: 5px 5px rgb(211, 210, 210);
}
.mapouter {
    position: relative;
    text-align: $positioncenter;
    height: 300px;
    margin: auto;
    width: 600px;
}